
html, body,#react-root{
height: 100%!important;
font-family: sans-serif;
}
.main-layout{
	display: flex !important;
	min-height: 100vh!important;
	flex-direction: column!important;
}

footer {
	flex: none;
}
.bodyLay{
	flex: 1!important;
}
#mennu {
	position:fixed;
	width:100%;
		height:50px;
		z-index:100;
		margin-bottom:0;
	}
	#ssmennu {

		height:50px;
	}
@media screen and (max-width: 767px) {
	#mennu {
		position:relative;
		height:280px;

	}
}
img{
	min-height: 0;
 	min-width: 0;
 	max-width: 100%;
  height: auto;
  vertical-align: middle;
 }
ul{
	margin-top: 10px!important;
	margin-bottom: 10px!important;
}
hr{
	margin-top:14px;
}
.field>label{
	color:rgba(181,204,24,1) !important;
}

.RetvMo{
	background-color:rgba(24,180,204,0.1)!important;
}
.RetvMo:hover{
	background-color:rgba(24,180,204,0.2)!important;
	cursor:pointer;
}

@keyframes dev {
		from {padding:0px;}
		to {padding:20px;}
}

@keyframes dep {
		from {transform: translate(40px);}
		to {transform: translate(0px)}
}

@keyframes menurond {
		from {transform: scale3d(0.9, 0.9, 0.9);border-radius:100px;}
		to {transform: scale3d(1, 1, 1);border-radius:5px;}
}



