
html, body,#react-root{
height: 100%;
font-family: sans-serif;
margin:0;
padding:0;
overflow-x:hidden;
}
.main-layout{
	display: flex;
  min-height: 100%;
	flex-direction: column;
}

.bodyLay{
	flex: 1 1 auto;
  display: flex ;
  flex-direction: column;
}
button{
  background-color: #e7e7e7;
  color:black;
}

footer{
  height:100px;
}

img{
	min-height: 0;
 	min-width: 0;
 	max-width: 100%;
  height: auto;
  vertical-align: middle;
 }

@keyframes dev {
		from {padding:0px;}
		to {padding:20px;}
}

@keyframes dep {
		from {transform: translate(20px,-3px);margin:0px;}
		to {transform: translate(0px,0px);margin:10px;}
}

@keyframes menurond {
		from {transform: scale3d(0.9, 0.9, 0.9);border-radius:100px;}
		to {transform: scale3d(1, 1, 1);border-radius:5px;}
}



/* The element to apply the animation to */

@keyframes ankon {
    0% {
        transform: translate3d(-50px,-40px,-1000px);
    }
    60% {
        transform: translate3d(-10px,-250px,-200px);
    }
    100% {
        transform: translate3d(0px,50px,0px);
    }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
div, span {
  font-size: inherit;
} 
h1{
  font-size: 36px;
}
.CVColumn{
  display:flex; 
  flex-direction:column;
}
.CVRow{
  display:flex; 
  flex-wrap:wrap;
  padding:5;
}
.fixed {
  -webkit-backface-visibility: hidden;
}
